<style>
body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
</style>

<title>CBC Links</title>

<ul>
<li><a href="/sobo/Bathroom/cbc"><img src="/sobo/static/cbc.png">Bathroom</a></li>
<li><a href="/sobo/Master Bedroom/cbc"><img src="/sobo/static/cbc.png">Master Bedroom</a></li>
<li><a href="/sobo/Kitchen/cbc"><img src="/sobo/static/cbc.png">Kitchen</a></li>
<li><a href="/sobo/Living Room/cbc"><img src="/sobo/static/cbc.png">Living Room</a></li>
</ul>

