<!doctype html>
<link rel="apple-touch-icon" href="/sobo/static/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="152x152" href="/sobo/static/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="180x180" href="/sobo/static/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="167x167" href="/sobo/static/touch-icon-ipad-retina.png">
<meta name="viewport" content="width=device-width;
    initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style"
    content="black-translucent" />
<title>{{ where }} - {{ what }}</title>
<style>
body {
    background-color: black;
}

.container {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
}

.logo {
  width: 100%;
}
</style>

<div class="container">
<a href="sonos://">
  <img class="logo" src="/sobo/static/sonos.jpg">
</a>
</div>
